<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pagina_historia.css">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <title>Historia Del Museo Del Ciclomotor</title>
</head>
<body>
    <a href="/pagina_busqueda" class="pantalla-click">
        <div class="contenedor-pantalla">
            <h1 class="titulo">Hablemos de Historia...</h1>
            <p class="texto-animado">¡Descubrí nuevos Objetos!</p>
            <p class="texto-animado2"> Moto Roca, Moto Roca Competición y Moto Roca Restauraciones <br>
                <br>
                Taller de autos y motos clásicas, antiguas y de competición.
                Y próximamente: "Apertura del Museo del Ciclomotor".
                Moto Roca, 25 años de trayectoria, gracias por elegirnos.
                <br>
                <br>
                <br>
                2. Ciclomotor ¿Qué es lo que se conoce como un ciclomotor?
                <br>
                <br>
                Ciclomotor es un vehículo de dos ruedas de cilindrada menor a 50 centímetros cúbicos (c.c) y cuya velocidad de fábrica no supere los 50 km por hora.
                En sus inicios, se denominaba ciclomotor a una bicicleta con motor de pequeña cilindrada y que no puede alcanzar mucha velocidad, no mayor a 35 a 45 km por hora.
                <br>
                <br>
                <br>
                3. ¿Qué diferencia hay entre una moto y un ciclomotor?
                <br>
                <br>
                Su potencia: la diferencia principal es que los ciclomotores tienen una cilindrada menor a 50 c.c.
                Su velocidad: los ciclomotores no pueden pasar los 45 km por hora.
                En muchos países, esta diferencia entre moto y ciclomotor son para definir cuáles pueden circular por la vía pública y cuáles deben ser legalmente inscriptas y patentadas y además contar con la licencia de conducción otorgada por la autoridad competente.
                <br>
                <br>
                <br>
                4. ¿Qué es un ciclomotor en la Argentina?
                <br>
                <br>
                La Ley de Tránsito N° 24.449 la describe como una moto que tiene hasta 50 c.c. de cilindrada y no puede ir más de 50 km por hora.
                En Argentina, ¿cuáles fueron las principales fábricas y marcas de ciclomotores?
                Las principales son: Zanella, Pumia, Dadalt, Juki, Gilera, Mondial y Garelli.
                Podemos mencionar otras marcas históricas de ciclomotores como: Bambina, Papelino, Vaifro Meo, Atala, Piaggio, Peugeot, Daelim, Kenia y Hero Puch, entre otras más.
                <br>
                <br>
                Esto fue presentado por: Moto Roca... “La historia del ciclomotor”
                Y próximamente: Apertura del Museo del Ciclomotor.
                <br>
                <br>
                Moto Roca... 25 años en el rubro de las motos clásicas.</p>
            <img src="/img/logotipo Museo Ciclomotor celeste.png" alt="logotipo" class="superpuesta">
            <img src="/img/pantalla_historia.png" alt="pantalla_inicio" class="fondo">    
            <div class="overlay-negro"></div>
        </div>
    </a>
</body>
</html>